/*
 * Copyright © 2022 Adnan-Aidan Taha and William Ao
 * This file is part of "Projet Patriotes".
 *
 * "Projet Patriotes" is free software: you can redistribute it and/or modify it under the terms
 * of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * "Projet Patriotes" is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with "Projet Patriotes".
 * If not, see <https://www.gnu.org/licenses/>.
 */

h1,
p {
  line-height: 1.4;
  color: $text;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: $foreground;
}

a {
  text-decoration: underline;
  color: #3498db;

  &:visited {
    color: #9b59b6;
  }

  &:hover {
    text-decoration: underline double;
  }
}

svg {
  fill: $foreground;
}

.markdown-content {
  text-align: justify;
}
