/*
 * Copyright © 2022 Adnan-Aidan Taha and William Ao
 * This file is part of "Projet Patriotes".
 *
 * "Projet Patriotes" is free software: you can redistribute it and/or modify it under the terms
 * of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 *
 * "Projet Patriotes" is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with "Projet Patriotes".
 * If not, see <https://www.gnu.org/licenses/>.
 */

// Firefox
html {
  scrollbar-width: thin;
  scrollbar-color: #e0a96d90 #201e20;
}

// Everyone else
::-webkit-scrollbar {
  width: 0.6vw;
  background-color: #201e20;
}

::-webkit-scrollbar-thumb {
  background-color: #2a373e;
  border-radius: 100vw;

  &:hover {
    background-color: $selection-background;
  }

  &:active {
    background-color: #ffd3a3;
  }
}
