// https://material-theme.com/docs/reference/color-palette

$hauteur-nav: 75px;

$background: #263238;
$foreground: #b0bec5;
$text: #607d8b;
$selection-background: #546e7a;
$selection-foreground: #ffffff;
$second-background: #2f3542;
$border: #2a373e;
